<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">

	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
	<div class="card">
		<div class="card-header">
			<p class="text-secondary"><b>Cadastrar Novo Local</b></p>
		</div>
		<div class="card-body">
			<form method="POST" th:object="${local}"
				th:action="@{/local/editar}">
				<input type="hidden" th:field="*{id}">
				
				<div class="form-group mb-3">
					<label for="nome">Nome:</label>
					<input class="form-control" type="text" th:field="*{nome}" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
				</div>
				
				<div class="form-group mb-3">
					<label for="endereco">Endereço:</label>
					<input class="form-control" type="text" th:field="*{endereco}" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></div>
				</div>
				
				<button type="submit" class="btn btn-primary"><b>Salvar Local</b></button>
			</form>
		</div>
	</div>
</div>
</html>